[submodule "fel_infile"]
	path = fel_infile
	url = git@github.com:rocketgithub/fel_infile.git
	branch = master
[submodule "l10n_gt_extra"]
	path = l10n_gt_extra
	url = git@github.com:rocketgithub/l10n_gt_extra.git
	branch = 11.0
[submodule "fel_gt"]
	path = fel_gt
	url = git@github.com:rocketgithub/fel_gt.git
